In [1]:
import pandas as pd

In [2]:
data = { "Math": [85, 78, 92, 60, 74, 88],
 "Science": [80, 82, 89, 65, 70, 90],
  "English": [75, 85, 78, 55, 72, 88], 
  "History": [70, 75, 80, 50, 68, 82] }

In [3]:
students = ["Student1", "Student2", "Student3", "Student4", "Student5", "Student6"]

In [4]:
X = pd.DataFrame(data, index=students)

In [7]:
# Display the first three rows of the exam_scores DataFrame.
X.head(3)

          Math  Science  English  History
Student1    85       80       75       70
Student2    78       82       85       75
Student3    92       89       78       80

In [11]:
# Get the total number of students and subjects recorded in the DataFrame.
a,b=X.shape
print(f"Total student: {a} ,Total subject: {b}")

Total student: 6 ,Total subject: 4

In [14]:
#  List all subject names and student names.
sub = X.columns.tolist()
stud = X.index.tolist()
print(f"Sub: {sub}")
print(f"Stud: {stud}")

Sub: ['Math', 'Science', 'English', 'History']
Stud: ['Student1', 'Student2', 'Student3', 'Student4', 'Student5', 'Student6']

In [18]:
# Display the data type of each column in the DataFrame.
X.dtypes

Math       int64
Science    int64
English    int64
History    int64
dtype: object

In [21]:
# Check if there are any missing values in the DataFrame.
X.isnull().sum()

Math       0
Science    0
English    0
History    0
dtype: int64

In [24]:
# Retrieve the scores of "Student 3" in all subjects.
X.loc["Student3"]

Math       92
Science    89
English    78
History    80
Name: Student3, dtype: int64

In [33]:
# Extract the scores of all students in "Math".
X.iloc[0]

Math       85
Science    80
English    75
History    70
Name: Student1, dtype: int64

In [34]:
# Retrieve the scores of "Student 1" and "Student 4" in "Science" and "English".
X.loc[["Student1", "Student4"], ["Science", "English"]]

          Science  English
Student1       80       75
Student4       65       55

In [35]:
# Slice the DataFrame to get the first 4 students and the first 3 subjects.
X.iloc[:4,:3]

          Math  Science  English
Student1    85       80       75
Student2    78       82       85
Student3    92       89       78
Student4    60       65       55

In [38]:
# Retrieve the score of "Student5" in "History" using .loc or .iloc.
X.iloc[4,3]

68

In [60]:
# Update the score of "Student2" in "Math" to 85.
mark=X.loc["Student2", "Math"] = 85
print(mark)

85

In [63]:
#  Add a new student, "Student7", with scores [90, 85, 88, 80] for all subjects.
Add_stud=X.loc["Student7"] = [90, 85, 88, 80]
print(Add_stud)

[90, 85, 88, 80]

In [48]:
# Add 5 bonus marks to all students' scores.
X += 5
print(X)

           Math  Science  English  History
Student1     95       90       85       80
Student2     95       92       95       85
Student3    102       99       88       90
Student4     70       75       65       60
Student5     84       80       82       78
Student6     98      100       98       92
Student 7   100       95       98       90
Student7     95       90       93       85

In [50]:
# Deduct 3 marks from the scores of "Student4" in all subjects.
X.loc["Student4"] -= 3
print(X)

           Math  Science  English  History
Student1     95       90       85       80
Student2     95       92       95       85
Student3    102       99       88       90
Student4     67       72       62       57
Student5     84       80       82       78
Student6     98      100       98       92
Student 7   100       95       98       90
Student7     95       90       93       85

In [64]:
#  Calculate the percentage of marks obtained by each student, assuming each subject has a maximum of 100 marks.
percentage = X.sum(axis=1) /400 * 100
print(percentage)

Student1     87.50
Student2     89.25
Student3     94.75
Student4     64.50
Student5     81.00
Student6     97.00
Student 7    95.75
Student7     85.75
dtype: float64

In [55]:
# Calculate the total marks obtained by each student.
total_marks = X.sum(axis=1)
print(total_marks)

Student1     350
Student2     367
Student3     379
Student4     258
Student5     324
Student6     388
Student 7    383
Student7     343
dtype: int64

In [56]:
#  Determine the total marks scored in each subject.
total_per_subject = X.sum(axis=0)
print(total_per_subject)

Math       731
Science    713
English    696
History    652
dtype: int64

In [57]:
#  Identify the student with the highest total marks.
highest_marks_student = total_marks.idxmax()
print(f"Student with highest total marks: {highest_marks_student}")

Student with highest total marks: Student6

In [58]:
#  Find the subject with the lowest total marks.
lowest_marks_subject = total_per_subject.idxmin()
print(f"Subject with lowest total marks: {lowest_marks_subject}")

Subject with lowest total marks: History

In [59]:
#  Compute the average marks scored by each student across all subjects.
average_marks_per_student = X.mean(axis=1)
print(average_marks_per_student)

Student1     87.50
Student2     91.75
Student3     94.75
Student4     64.50
Student5     81.00
Student6     97.00
Student 7    95.75
Student7     85.75
dtype: float64