In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('ds_salaries.csv')
print(df)

      work_year experience_level employment_type                 job_title  \
0          2023               SE              FT  Principal Data Scientist
1          2023               MI              CT               ML Engineer
2          2023               MI              CT               ML Engineer
3          2023               SE              FT            Data Scientist
4          2023               SE              FT            Data Scientist
...         ...              ...             ...                       ...
3750       2020               SE              FT            Data Scientist
3751       2021               MI              FT  Principal Data Scientist
3752       2020               EN              FT            Data Scientist
3753       2020               EN              CT     Business Data Analyst
3754       2021               SE              FT      Data Science Manager

       salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0       80000             EUR          85847                 ES           100
1       30000             USD          30000                 US           100
2       25500             USD          25500                 US           100
3      175000             USD         175000                 CA           100
4      120000             USD         120000                 CA           100
...       ...             ...            ...                ...           ...
3750   412000             USD         412000                 US           100
3751   151000             USD         151000                 US           100
3752   105000             USD         105000                 US           100
3753   100000             USD         100000                 US           100
3754  7000000             INR          94665                 IN            50

     company_location company_size
0                  ES            L
1                  US            S
2                  US            S
3                  CA            M
4                  CA            M
...               ...          ...
3750               US            L
3751               US            L
3752               US            S
3753               US            L
3754               IN            L

[3755 rows x 11 columns]

In [4]:
numeric_columns=df.select_dtypes(include=['number']).columns
print (numeric_columns)

Index(['work_year', 'salary', 'salary_in_usd', 'remote_ratio'], dtype='object')

In [5]:
categorical_columns=df.select_dtypes(include=['object']).columns
print (categorical_columns)

Index(['experience_level', 'employment_type', 'job_title', 'salary_currency',
       'employee_residence', 'company_location', 'company_size'],
      dtype='object')

In [7]:
new_numeric_value=df[numeric_columns]
print(new_numeric_value)

      work_year   salary  salary_in_usd  remote_ratio
0          2023    80000          85847           100
1          2023    30000          30000           100
2          2023    25500          25500           100
3          2023   175000         175000           100
4          2023   120000         120000           100
...         ...      ...            ...           ...
3750       2020   412000         412000           100
3751       2021   151000         151000           100
3752       2020   105000         105000           100
3753       2020   100000         100000           100
3754       2021  7000000          94665            50

[3755 rows x 4 columns]

In [8]:
from sklearn import preprocessing

In [9]:
enc = preprocessing.OneHotEncoder()

In [10]:
enc_data = pd.DataFrame(enc.fit_transform(df[['employment_type']]).toarray())
enc_data
print(enc_data)

        0    1    2    3
0     0.0  0.0  1.0  0.0
1     1.0  0.0  0.0  0.0
2     1.0  0.0  0.0  0.0
3     0.0  0.0  1.0  0.0
4     0.0  0.0  1.0  0.0
...   ...  ...  ...  ...
3750  0.0  0.0  1.0  0.0
3751  0.0  0.0  1.0  0.0
3752  0.0  0.0  1.0  0.0
3753  1.0  0.0  0.0  0.0
3754  0.0  0.0  1.0  0.0

[3755 rows x 4 columns]